.id_column{
    border: 1px solid grey;
    width: 40px;
    background-color: #89b4c7;
}

body {
    background-color: #137dab;
}

.tg_id_column{
    border: 1px solid grey;
    width: 150px;
}

table {
    border-collapse: collapse;
}